.some-text {
    font-family: "Open Sans", "Ariel", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    line-height: 30px;

}

.text2 {
    font-weight: 540;
    text-decoration: line-through;

}

#block {
    font-family: serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.hard {
    word-spacing: 30px;
    font-size: 20px;
    text-decoration: dotted;
}
.k{
    letter-spacing: 5px;
    font-size: 20px;
    text-decoration: double;
}